<div class="body">
    <app-top></app-top>
    <div class="title">
        <p>{{article.title}}</p>
        <p>{{article.article_id}}</p>
        <div class="image"><img src="{{article.image_source}}" alt="img"></div>
    </div>
    <div class="content">{{article.content}}</div>

    <div *ngIf="userLoggedIn">
        <app-add-rating-form [article_id]="article.article_id"></app-add-rating-form>

        <app-add-comment-form [article_id]="article.article_id"></app-add-comment-form>
    </div>


    <div *ngIf="commentsAvailable">
        <div *ngFor="let comment of comments">
            <p>{{comment.content}}</p>

        </div>
    </div>
</div>