form {
    height: 0.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form>input,
button {
    display: block;
    padding: 10%;
    height: 5vh;
    width: 30%;
}

body {
    display: flex;
    flex-direction: column;
}