<div class="body">
    <div class="header">
        <div class="logo">LOGO</div>
        <div class="categories">
            <div class="home">HOME</div>
            <div class="news">NEWS</div>
            <div class="sport">SPORT</div>
        </div>
        <div class="signIn"><a routerLink="/form">Sign IN</a></div>
    </div>

    <div class="recent">
        <p>Z ostatniej chwili</p>
        <div class="articles">
            <div *ngIf="articles.length > 0">
                <div *ngFor="let article of articles">
                    <div>{{article.imageSrc}}</div>
                    <div>{{article.title}}</div>
                    <div>{{article.content}}</div>
                </div>
            </div>

        </div>
    </div>

    <div class="forYou">
        <p>Dla Ciebie</p>
        <div class="articles">
        </div>
    </div>

    <div class="footer"></div>
</div>