<app-top></app-top>
<form (ngSubmit)="addArticle()" #Form="ngForm">
    <div>
        <label for="">Tytuł</label>
        <input type="text" [(ngModel)]="article.title" )]>
    </div>


    <div>
        <label for="">Tagi</label>
        <div *ngFor="let tag of tags">
            <input type="checkbox">
            <label for="">{{tag}}</label>
        </div>
    </div>

    <div>
        <label for="">Kategoria</label>
        <input type="text">
    </div>

    <div>
        <label for="">Treść</label>
        <input type="text">
    </div>

    <div>
        <label for="">Link do zdjęcia</label>
        <input type="url">
    </div>


    <button type="submit">Opublikuj</button>
</form>