<app-top></app-top>
<form (ngSubmit)="addArticle()" #Form="ngForm">
    <div>
        <label for="">Tytuł</label>
        <input type="text" [(ngModel)]="article.title">
    </div>


    <div>
        <label for="">Tagi</label>
        <div *ngFor="let checkbox of checkboxes">
            <input type="checkbox" name="tag" [(ngModel)]="checkbox.isChecked">
            <label for="tag">{{checkbox.value}}</label>
        </div>
    </div>

    <div>
        <label for="">Kategoria</label>
        <input type="text" [(ngModel)]="article.category">
    </div>

    <div>
        <label for="">Treść</label>
        <input type="text" [(ngModel)]="article.content">
    </div>

    <div>
        <label for="">Link do zdjęcia</label>
        <input type="url" [(ngModel)]="article.image_source">
    </div>


    <button type="submit">Opublikuj</button>
</form>