<div class="body">
    <div class="header">
        <div class="logo"><img src="../../assets/logo.png" alt=""></div>
        <div class="categories">
            <div class="technologia">
                <a routerLink="/section/categories/technologia">technologia</a>
            </div>
            <div class="sport">
                <a [routerLink]="['/section', 'categories', 'sport']">Sport</a>
            </div>
            <div class="travel">
                <a [routerLink]="['/section', 'tags', 'podróże']">Podróże</a>
            </div>
            <div class="addArticle" *ngIf="userLoggedIn">
                <div>
                    <a routerLink="/article-form">NowyArtykuł</a>
                </div>
            </div>
        </div>
        <div class="login">
            {{name}}
            <a routerLink="/log-in">LOGIN</a>
            <a routerLink="/sign-up">Sign Up</a>
        </div>
    </div>

    <div class="recent">
        <p>Z ostatniej chwili</p>
        <div class="articles">
            <div *ngFor="let article of recent">
                <div class="image"><img src="{{article.image_source}}" alt="img"></div>
                <div>{{article.title}}</div>
                <div>{{article.content}}</div>
                <a routerLink="/article/{{article.article_id}}">Czytaj...</a>
            </div>
        </div>
    </div>

    <div class="forYou" *ngIf="userLoggedIn">
        <p>Dla Ciebie</p>
        <div class="articles">
            <div *ngFor="let article of recommended">
                <div class="image"><img src="{{article.image_source}}" alt="img"></div>
                <div>{{article.title}}</div>
                <div>{{article.content}}</div>
                <a routerLink="/article/{{article.article_id}}">Czytaj...</a>
            </div>
        </div>
    </div>
    <div class="categories">
        <div *ngFor="let category of categories">
            <a routerLink="/section/category/{{category}}">{{category}}</a>
        </div>
    </div>

    <div class="footer"></div>
</div>