* {
    box-sizing: border-box;
    font-family: Lato;
}

div.body {
    width: 100%;
}

div.recent,
div.forYou {
    padding-left: 15%;
    padding-right: 15%;
}

div.header {
    width: 100%;
    display: grid;
    grid-template-columns: 10% 70% 20%;
    margin-bottom: 20px;
    background-color: green;
    color: white;
    padding: 20px;
    font-size: larger;
}

div.single_category {
    width: 33%;
    text-align: center;
}

div.single_category>a,
div.login>a {
    color: white;
    text-decoration: none;
}

div.categories,
div.tags {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: green;
    padding: 10px;
}

div.categories>div>a,
div.tags>div>a,
.whiteA {
    display: block;
    color: white;
    text-decoration: none;
}

div.addArticle {
    float: left;
}

div.login {
    text-align: right;
    padding-right: 10%;
}

div.categories>div {
    width: 10%;
}

div.recent {
    width: 100%;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

div.articles {
    display: flex;
    flex-direction: row;
}

div.article {
    width: 20%;
    padding-right: 5%;
    padding-left: 5%;
}

div.image>img {
    width: 100%;
    height: auto;
}

p.section_header {
    font-size: x-large;
    font-weight: 600;
}

div.single_article {
    padding: 15px;
}

div.article_title {
    font-size: larger;
    font-weight: 500;
    margin: 5%;
}

div.article_content {
    margin: 2%;
}

div.single_article>a {
    text-decoration: none;
    margin-left: 5%;
    font-size: large;
    font-weight: 400;
}

button.main_button {
    width: 100px;
    height: 24px;
    margin-left: calc(50% - 50px);
    margin-top: 15px;
    margin-bottom: 15px;
}

div.logo>img {
    width: 100%;
    height: auto;
}